body {
    color: black;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid blue;
    margin: 0 auto;
}

#container h1 {
    font-size: 20p}

#post {
    background: white;
    padding: 1em;
}