body {
    background: black;
    text-align: center;
    color: #2c2a2a;
    font-family: fantasy;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: #1f1a6e;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
    font-weight: bold;
    color: whitesmoke;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid blue;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    background: aliceblue;
    padding: 1em;
}

